{% include 'adminbase.html.twig' %}
{% block main %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
            <!-- pageheader -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Kyc Requests</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('admin') }}" class="breadcrumb-link">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Kyc Requests</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end pageheader -->

            <div class="ecommerce-widget">
                <div class="row">
                    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Pending Kyc List</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">Name</th>
                                                
                                                <th class="border-0">Status</th>
                                               
                                                <th class="border-0">Action</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in upgrades %}
                                                <tr>
                                                    <td>{{ user.fullname }}</td>
                                                   
                                                    <td>{{ user.verificationstatus }}</td>
                                                    <form action="" method="post">
                                                        
                                                        <td>
                                                            <input type="text" name="id" value="{{ user.id }}" hidden>
                                                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="approve" value="Approve">
                                                            {# <input type="submit" name="delete" class="btn btn-danger btn-lg btn-block" value="Decline"> #}
                                                        </td>
                                                    </form>
                                                   
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end recent orders -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
